/* Core variables and mixins*/
@import '../core/variables.scss';
@import '../core/mixins';
@import '../core/elements';
@import '../core/layouts';
/* Navigation, header, footer*/

@import '../core/header';
@import '../core/footer';

.homepage {
  // .banner {
  //   height: 60vh;
  //   .banner-bg {
  //     height: 100vh;
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     z-index: -10;
  //     img {
  //       width: 100%;
  //       height: 100%;
  //       object-fit: contain;
  //     }
  //   }
  //   .banner-text {
  //     font-size: 36px;
  //     margin: auto 0;
  //     h1 {
  //       line-height: 3.5rem;
  //     }
  //   }
  // }
  .aboutUs {
    &-card {
      min-height: 600px;
      &__img {
        object-fit: cover;
        z-index: -10;
      }
      @include mobile {
        min-height: unset;
      }
    }
    @include mobile {
      .aboutUs-content {
        flex-direction: column;
        & > * {
          width: 100%;
        }
      }
    }
  }
  .timeline-content {
    min-height: 235px;
    background-color: rgba(29, 26, 113, 0.3);
  }
  .timeline-dot {
    background: #898989;
    left: 50%;
    &.active {
      background: #32cece;
    }
  }
}
